body {
    font-family: 'Arial', sans-serif;
    background: url('https://i.pinimg.com/originals/97/77/2a/97772ac99161f4214003456692dbf47b.gif') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.2em;
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.feature {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.feature-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

h2 {
    font-size: 2em;
    margin: 0;
}

.feature p {
    margin-left: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #00ff00;
    text-decoration: none;
    font-weight: bold;
}
